[submodule "qtbase"]
	path = qtbase
	url = https://github.com/qtproject/qtbase
[submodule "qtdeclarative"]
	path = qtdeclarative
	url = https://github.com/qtproject/qtdeclarative
[submodule "qttools"]
	path = qttools
	url = https://github.com/qtproject/qttools
[submodule "qtmultimedia"]
	path = qtmultimedia
	url = https://github.com/qtproject/qtmultimedia
[submodule "qtquickcontrols"]
	path = qtquickcontrols
	url = https://github.com/qtproject/qtquickcontrols.git
